{% extends 'default/default.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/default.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/login.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <form method="post">
        <section class="form-wrapper">
            <h1 class="mainTitle">Connexion</h1>
            <div class="input-wrapper">
                {% if error %}
                    <div class="wrong-login">L'identifiant ou le mot de passe est incorrect</div>
                {% endif %}
                <div class="form-field">
                    <div class="form-label">
                        <label for="inputEmail">Adresse email</label>
                    </div>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>

                <div class="form-field">
                    <div class="form-label">
                        <label for="inputPassword">Mot de passe</label>
                    </div>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                >
            </div>

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
            <div class="button-wrapper">
                <button class="form-button" type="submit">Connexion </button>
            </div>
        </section>
    </form>
{% endblock %}
