main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainTitle {
    color: #c4dfaa;
    font-size: 2em;
    font-family: 'Baloo Chettan 2', cursive;
}

.form-wrapper {
    width: 100%;
}

.form-field {
    margin: 2em 1em;
}

.field-label, .field-input {
    font-family: 'Fenix', serif;
}

.field-label {
    align-items: flex-start;
    font-size: 1em;
    margin: 0.5em;
    color: #2f3542;
}

.field-input {
    border-radius: 10px;
    border-color: lightgray;
    font-size: 1em;
    width: 100%;
    display: flex;
}

.field-input > * {
    border-radius: 10px;
    border-color: lightgray;
    font-size: 0.8em;
    padding: 0.25em;
    width: 100%;
}

.message-input > * {
    height: 10em;
    resize: none;
    padding: 0.5em;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-button {
    transition: linear 0.2s;
    padding: 0.5em 0;
    background-color: #c4dfaa;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    margin: 1em 2em;
    font-size: 1em;
    width: 100%;
}

.form-button:hover {
    opacity: 0.8;
}

@media screen and (min-width: 1160px) {

    .mainTitle {
        font-size: 2.5em;
    }

    .form-wrapper {
        width: 50%;
    }

    .form-field {
        max-width: 100%;
    }

    .field-label {
        font-size: 1.5em;
        color: #2f3542;
    }

    .field-input > * {
        font-size: 1em;
        padding: 0.6em;
    }

    .message-input > * {
        padding: 0.75em;
    }

    .button-wrapper {
        justify-content: end;
    }
    
    .form-button {
        transition: linear 0.2s;
        width: 20%;
        font-size: 1em;
        margin: 1.5em;
        cursor: pointer;
    }
}