@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');


html {
    scroll-behavior: smooth;
}

.body {
    display: flex;
    height: 98vh;
    margin: -8px;
    max-width: 100%;
}

header {
    border-bottom: solid 1px lightgray;
}

.head-logo, .foot-logo {
    font-family: 'Hurricane', cursive;
}

.head-logo {
    font-size: 2em;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0.5em;
}

.nav-links {
    display: none;
}

.login-elipse {
    transition: ease-in-out 0.2s;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 1em;
}

.login-elipse:hover {
    transition: ease-in-out 0.2s;
    border: solid 2px #c4dfaa;
    padding: 0.5em;
}

.header-branding {
    position: relative;
}

main {
    width: 100%;
    min-height: 80vh;
}

footer, .footer-branding {
    display: flex;
}

footer {
    flex-direction: column;
    border-top: solid 2px lightgray;
}

.footer-branding {
    justify-content: center;
}

.footer-title {
    font-size: 1em;
    margin: 0.5em;
}

.footer-branding > p {
    font-size: 0.7em;
    text-align: center;
}

.foot-logo {
    font-size: 3em;
}

.footer-contact-link {
    display: flex;
    justify-content: center;
    padding-left: 15px;
}

.contact-link {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 10px;
    flex-direction: column;
}

.contact-link > li {
    margin-bottom: 0.5em;
    font-size: 1em;
    transition: 350ms ease-in-out;
    opacity: 0.7;
}

.contact-link > li:hover {
    opacity: 1;
}

a {
    color: black;
    text-decoration: none;
}

p, .contact-link > li {
    font-family: 'Fenix', serif;
}

.success-flash.close {
    display: none;
}


/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: -250px;
    background-color: white;
    padding-top: 60px;
    transition: left 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

/* Sidenav menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Baloo Chettan 2', cursive;
    color: #c4dfaa;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    transition: ease-in 0.2s;
    color: whitesmoke;
    background-color: #c4dfaa;

}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 2em;
}

/* Active class */
.sidenav.active {
    left: 0;
}

/* Close btn */
.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 3em;
}

/* Icône burger */
.burger-icon span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 1em;
}

@media screen and (min-width: 1160px) {
    .head-logo {
        font-size: 4em;
        margin-left: 0.5em;
    }

    .nav {
        justify-content: space-between;
    }

    .link-navbar, .nav-links, .contact-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-links > li {
        transition: ease-in-out 0.2s;
        margin: 0 1.5em;
        list-style: none;
        font-size: 1.5em;
        font-family: 'Baloo Chettan 2', cursive;
    }

    .nav-links > li > a:hover, .login-elipse:hover {
        transition: ease-in-out 0.2s;
        color: #c4dfaa;
        border-bottom: solid 2px #c4dfaa;
        padding-bottom: 0.5em;
    }

    #navigation-menu {
        display: none;
    }

    .login-elipse {
        width: 2.5em;
        height: 2.5em;
    }


    footer {
        display: flex;
        border-top: solid 1px lightgray;
        padding-top: 10px;
    }

    .footer-branding > p {
        font-size: 1em;
    }

    .foot-logo {
        font-size: 2em;
    }

    .footer-title {
        margin: 0;
    }

    .contact-link {
        flex-direction: row;
    }

    .contact-link > li {
        margin: 1em 3em;
        font-size: 1em;
        font-family: 'Fenix', serif;
    }
}

