.legal-title, .mainTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mainTitle {
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif, cursive;
    margin-bottom: 0.25em;
}

.title-text, .legal-text {
    font-family: 'Fenix', serif;
}

.title-text {
    font-size: 1em;
    margin: 0;
}

.legal-text > h3 {
    margin-bottom: 2em;
}

@media screen and (min-width: 1160px) {
    main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 75%;
        margin: auto;
        align-items: center;
    }

    .legal-title {
        margin-bottom: 2em;
    }

    .mainTitle {
        font-size: 2.5em;
    }

    .legal-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 1em 0;
    }
}