{% extends 'base.html.twig' %}

{% block title%}Sandrine Coupart - Diéteticienne, Nutritionniste{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/default.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
    <header>
        <nav>
            <div id="navigation-menu">
                <div id="mySidenav" class="sidenav">
                    <a id="closeBtn" href="#" class="close">×</a>
                    <ul>
                        <li><a href="#">Mes services</a></li>
                        <li><a href="#">A propos</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>

                <a href="#" id="openBtn">
                  <span class="burger-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                  </span>
                </a>
            </div>

            <a href="/">
                <h1 class="head-logo">Sandrine Coupart</h1>
            </a>

            <div class="link-navbar">
                <ul class="nav-links">
                    <li><a href="#">Mes services</a></li>
                    <li><a href="/about">A propos</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                <a href="/login">
                    <div class="login-elipse"></div>
                </a>
            </div>
        </nav>
    </header>
    <main>
        {% block content%}{% endblock%}
    </main>
    <footer>
        <div class="footer-branding foot-logo">
            <a href="/">
                <h2 class="footer-title">Sandrine Coupart</h2>
            </a>
        </div>
        <div class="footer-contact-link">
            <ul class="contact-link">
                <li><a href="/contact">Contact</a></li>
                <li><a href="/about">A Propos</a></li>
                <li><a href="/legal_notices">Mentions légales</a></li>
                <li><a href="/privacy_policy">Politique de confidentialité</a></li>
            </ul>
        </div>
        <div class="footer-branding">
            <p>Copyright © Sandrine Coupart -2022</p>
        </div>
    </footer>
    {% block javascripts %}
        <script src="{{ asset('js/burgerMenu.js') }}"></script>
    {% endblock %}
{% endblock %}

